<body class="<%= cookies[:displayMode] %>">

<%= render 'partials/navbar' %>

<main class="preferences">
  <% if cookies[:displayMode] != "dark" %> <hr> <% end %>

  <h1>User Preferences</h1>
  <form action="<%= request.env['PATH_INFO'] %>" method="POST">

    <% if cookies[:displayMode] == "dark" %>
      <p>Change to Light Mode</p>
    <% end %>
    <% if cookies[:displayMode] == "light" %>
      <p>Change to Dark Mode</p>
    <% end %>
    <label class="switch">
      <input type='hidden' name='authenticity_token' value='<%= @csrf_token %>'>
      <input type="checkbox" onchange="this.form.submit()" <%= @checked %> >
      <span class="slider round" ></span>
    </label>

  </form>

</main>

<%= render 'partials/footer' %>
</body>
