<body class="<%= cookies[:displayMode] %>">

<%= render 'partials/navbar' %>

<main class="login">
  <% if cookies[:displayMode] != "dark" %> <hr> <% end %>

  <div class="container">
    <h1>Log In</h1>
    <form action="<%= request.env['PATH_INFO'] %>" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <% if flash[:alert] %>
        <div class="error"><%= flash[:alert] %></div>
      <% end %>
    </form>
  </div>

</main>

<%= render 'partials/footer' %>
</body>